:root {
	--color-gray-100: #fafafa;
	--color-gray-200: #f7f6f5;
	--color-gray-300: #ebeae8;
	--color-gray-500: #575757;
	--color-gray-700: #383736;
	--color-gray-800: #1f1e1d;

	--color-primary: #4c8383;
	--color-secondary: #f27f6d;

	--color-primary-light: #f0f5f5;


	// Main text

	--text-highlight-color: var(--color-primary)

	// Standard button
	--button-background-color: var(--color-gray-200);
	--button-background-color-hover: var(--color-primary);

	--button-text-color: var(--color-gray-800);
	--button-text-color-hover: var(--color-gray-800);

	// Highlight button
	--button-hightlight-background-color: var(--color-primary);
	--button-hightlight-background-color-hover: var(--color-primary);

	--button-hightlight-text-color: var(--color-gray-800);
	--button-hightlight-text-color-hover: var(--color-gray-800);

	// Links

	--link-text-color: var(--color-primary);
	--link-text-color-hover: var(--color-primary);
}
