// H1
$h1-font-size: 1.6em;
$h1-line-height: 1.1111111;
$h1-font-size-desktop: 2.3em;
$h1-line-height-desktop: 1.2;

// H2
$h2-font-size: 1.4em;
$h2-line-height: 1.3333333;
$h2-font-size-desktop: 1.9em;
$h2-line-height-desktop: 1.3333333;
$h2-margin-top: 0.5em;

// H3
$h3-font-size: 1.3em;
$h3-line-height: 1.6;
$h3-font-size-desktop: 1.5em;
$h3-line-height-desktop: 1.5;

// H4
$h4-font-size: 1.2em;
$h4-line-height: 1.5;
$h4-font-size-desktop: 1.3em;
$h4-line-height-desktop: 1.5555556;

// H5 - H6
$h5-6-font-size: 1em;
$h5-6-line-height: 1.5;
$h5-6-font-size-desktop: 1em;
$h5-6-line-height-desktop: 1.5;
