@charset "UTF-8";
:root {
  --button--border-radius: 5px;
  --font-weight-normal: 400;
  --font-weight-strong: 700;
  --button--padding-vertical: 10px;
  --button--padding-horizontal: calc(2 * var(--button--padding-vertical));
}

.max-w-sm {
  max-width: 640px;
}

.max-w-md {
  max-width: 768px;
}

.max-w-lg {
  max-width: 1024px;
}

.max-w-xl {
  max-width: 1285px;
}

.full-height .gb-inside-container {
  height: 100%;
}

.rounded-sm > img,
.wp-block-image:not(.is-style-rounded).rounded-sm img {
  border-radius: 5px;
}

.rounded-md > img,
.wp-block-image:not(.is-style-rounded).rounded-md img {
  border-radius: 10px;
}

.rounded-lg > img,
.wp-block-image:not(.is-style-rounded).rounded-lg img {
  border-radius: 20px;
}

:root {
  --global--color-yellow: #f6d15e;
  --global--color-dark-yellow: #eab204;
  --global--color-dark-gray: #1c1c1b;
  --global--color-gray: #807f7e;
  --global--color-light-gray: #f7f6f5;
  --global--color-lighter-gray: #ebe9e6;
  --global--color-background-body: #fff;
  --global--color-background-light: var(--global--color-light-gray);
  --global--color-background-mid: var(--global--color-lighter-gray);
  --global--color-background-dark: var(--global--color-dark-gray);
  --global--color-background-highlight: var(--global--color-yellow);
  --global--color-background-hr: var(--global--color-lighter-gray);
  --main--color-text: var(--global--color-dark-gray);
  --highlight--color-text: var(--global--color-dark-yellow);
  --button--color-background: var(--global--color-lighter-gray);
  --button--color-background-hover: var(--global--color-yellow);
  --button--color-text: var(--global--color-dark-gray);
  --button--color-text-hover: var(--global--color-dark-gray);
  --button--hightlight--color-background: var(--global--color-yellow);
  --button--hightlight--color-background-hover: var(--global--color-dark-yellow);
  --button--hightlight--color-text: var(--global--color-dark-gray);
  --button--hightlight--color-text-hover: var(--global--color-dark-gray);
  --link--color-text: var(--global--color-dark-yellow);
  --link--color-text-hover: var(--global--color-yellow);
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: var(--global--color-background-highlight);
}

::selection {
  color: black;
  background: var(--global--color-background-highlight);
}

body {
  overflow-x: hidden;
  margin-top: 2px;
  /* match height of progressbar */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  line-height: 1.8em;
  color: var(--main--color-text);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--link--color-text);
}

a:hover {
  color: var(--link--color-text-hover);
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ol,
ul {
  margin: 0 0 1.5em 2em;
  list-style-type: square;
}

form.fluent_form_1 .wpf_has_custom_css.ff-btn-submit {
  text-align: center;
  padding: var(--button--padding-vertical) var(--button--padding-horizontal);
  font-weight: var(--font-weight-strong);
  font-size: 0.9em;
}

.fluentform .ff-btn:hover {
  opacity: 1 !important;
}

p:empty:before {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-strong);
}

h1 {
  font-size: 1.6em;
  line-height: 1.1111111;
}

h2 {
  font-size: 1.4em;
  line-height: 1.3333333;
}

.single-post h2 {
  margin-top: 0.5em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.6;
}

h4 {
  font-size: 1.2em;
  line-height: 1.5;
}

h5,
h6 {
  font-size: 1em;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  body {
    line-height: 2;
  }

  h1 {
    font-size: 2.3em;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.9em;
    line-height: 1.3333333;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.3em;
    line-height: 1.5555556;
  }

  h5,
h6 {
    font-size: 1em;
    line-height: 1.5;
  }
}
/**
 * Button
 */
.site .button,
input[type=submit],
input[type=reset],
.wp-block-search__button,
.wp-block-button .wp-block-button__link {
  color: var(--button--color-text);
  cursor: pointer;
  background-color: var(--button--color-background);
  -webkit-border-radius: var(--button--border-radius);
  -moz-border-radius: var(--button--border-radius);
  border-radius: var(--button--border-radius);
  text-align: center;
  padding: var(--button--padding-vertical) var(--button--padding-horizontal);
  font-weight: var(--font-weight-strong);
  font-size: 0.9em;
  text-transform: lowercase;
  text-decoration: none;
}
.site .button::after,
input[type=submit]::after,
input[type=reset]::after,
.wp-block-search__button::after,
.wp-block-button .wp-block-button__link::after {
  content: "→";
  position: absolute;
  padding-left: 2px;
  opacity: 0;
  transition: padding-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.site .button:hover::after,
input[type=submit]:hover::after,
input[type=reset]:hover::after,
.wp-block-search__button:hover::after,
.wp-block-button .wp-block-button__link:hover::after {
  content: "→";
  opacity: 1;
  padding-left: 7px;
}
.site .button:not(.has-background),
input[type=submit]:not(.has-background),
input[type=reset]:not(.has-background),
.wp-block-search__button:not(.has-background),
.wp-block-button .wp-block-button__link:not(.has-background) {
  color: var(--button--color-text);
  background-color: var(--button--color-background);
}
.site .button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
.wp-block-search__button:focus,
.wp-block-button .wp-block-button__link:focus {
  background: transparent;
  outline-offset: -6px;
  outline: 2px dotted currentColor;
}
.site .button:focus:not(.has-background),
input[type=submit]:focus:not(.has-background),
input[type=reset]:focus:not(.has-background),
.wp-block-search__button:focus:not(.has-background),
.wp-block-button .wp-block-button__link:focus:not(.has-background) {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background) !important;
}
.site .button:active,
input[type=submit]:active,
input[type=reset]:active,
.wp-block-search .wp-block-search__button:active,
.wp-block-file .wp-block-file__button:active {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background-hover);
}
.site .button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.wp-block-search .wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background-hover);
}

/**
 * Block Options
 */
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background-hover);
  border-color: var(--button--color-background-hover);
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background-hover);
  border-color: var(--button--color-background);
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link:focus {
  color: var(--button--color-text-hover);
  background-color: var(--button--color-background-hover);
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
  background: transparent;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):not(.has-text-color) {
  background: transparent;
  color: var(--button--color-background);
  border-color: var(--button--color-background);
}
.wp-block-button.is-style-outline .wp-block-button__link.has-background:not(.has-text-color) {
  color: currentColor;
}
.wp-block-button.is-style-outline .wp-block-button__link.has-background.has-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-dark-gray-background-color:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-black-background-color:not(.has-text-color) {
  color: white;
}
.is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background {
  color: var(--global--color-dark-gray);
}
.is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-gray-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-dark-gray-background-color, .is-dark-theme .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-background.has-black-background-color {
  color: white;
}
.wp-block-button.is-style-outline .wp-block-button__link.has-text-color, .wp-block-button.is-style-outline .wp-block-button__link.has-background.has-text-color {
  border-color: currentColor;
}
.wp-block-button.is-style-outline .wp-block-button__link:active, .wp-block-button.is-style-outline .wp-block-button__link:hover {
  color: var(--button--color-text) !important;
  background: var(--button--color-background) !important;
  border-color: var(--button--color-background);
}
.wp-block-button.is-style-outline .wp-block-button__link:active.has-text-color, .wp-block-button.is-style-outline .wp-block-button__link:hover.has-text-color {
  border-color: var(--button--color-background);
}
.wp-block-button.is-style-outline .wp-block-button__link:focus {
  color: var(--button--color-background) !important;
  background: transparent !important;
}
.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background) {
  color: var(--button--hightlight--color-text);
  background-color: var(--button--hightlight--color-background);
}
.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):active {
  color: var(--button--hightlight--color-text-hover);
  background-color: var(--button--hightlight--color-background-hover);
}
.wp-block-button.is-style-button-highlight .wp-block-button__link:not(.has-background):hover {
  color: var(--button--hightlight--color-text-hover);
  background-color: var(--button--hightlight--color-background-hover);
}
.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background) {
  background-color: var(--global--color-background-light);
}
.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):active {
  background-color: var(--global--color-background-mid);
}
.wp-block-button.is-style-button-light .wp-block-button__link:not(.has-background):hover {
  background-color: var(--global--color-background-mid);
}
.wp-block-button.is-style-button-simple .wp-block-button__link:not(.has-background) {
  background-color: transparent;
  text-decoration: underline;
}
.wp-block-button.is-style-button-simple .wp-block-button__link:not(.has-background):active {
  background-color: transparent;
}
.wp-block-button.is-style-button-simple .wp-block-button__link:not(.has-background):hover {
  background-color: transparent;
  color: var(--global--color-dark-yellow);
}
.wp-block-button .is-style-squared .wp-block-button__link {
  border-radius: 0;
}

.is-style-outline .wp-block-button__link[style*=radius]:focus,
.wp-block-button a.wp-block-button__link[style*=radius]:focus {
  outline-offset: 2px;
  outline: 2px dotted var(--button--color-background);
}

.wp-block-buttons.is-full .wp-block-button {
  width: 100%;
}
.wp-block-buttons.is-full .wp-block-button .wp-block-button__link {
  width: 100%;
}

.gb-button.arrow-after {
  position: relative;
  display: inline-block;
}
.gb-button.arrow-after::after {
  content: "→";
  position: absolute;
  padding-left: 2px;
  opacity: 0;
  transition: padding-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.gb-button.arrow-after:hover::after {
  content: "→";
  opacity: 1;
  padding-left: 7px;
}

.wp-block-gallery,
.wp-block-gallery.columns-3 {
  margin: 0 auto;
}
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
  margin-right: 5px;
  margin-bottom: 5px;
}
.wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
.wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-item {
  margin: 0px;
}

.wp-block-gallery.is-style-gallery-scroll .blocks-gallery-grid {
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.wp-block-gallery.is-style-gallery-scroll .blocks-gallery-item {
  width: 350px;
  margin-right: 5px;
}
.wp-block-gallery.is-style-gallery-scroll .blocks-gallery-item:nth-of-type(4n) {
  margin-right: 5px;
}
.wp-block-gallery.is-style-gallery-scroll .blocks-gallery-item figure {
  width: 350px;
}
@media screen and (min-width: 768px) {
  .wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
  .wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-item:nth-child(1) {
    grid-area: 1/1/3/2;
  }
  .wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-item:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .wp-block-gallery.is-style-gallery-1lg-2sm .blocks-gallery-item:nth-child(3) {
    grid-area: 2/2/3/3;
  }

  .wp-block-gallery.is-style-gallery-scroll .blocks-gallery-item {
    width: 400px;
  }
  .wp-block-gallery.is-style-gallery-scroll .blocks-gallery-item figure {
    width: 400px;
  }
}
.wp-block-image.is-style-image-cover {
  height: 100%;
}
.wp-block-image.is-style-image-cover img {
  height: 100%;
  object-fit: cover;
}

.wp-block-image figcaption {
  font-size: inherit;
  text-align: inherit;
}

.wp-block-latest-posts {
  margin: 0;
  border: none;
  background-color: none;
}
.wp-block-latest-posts:not(.is-grid) > li:first-child {
  margin-top: 0;
}
.wp-block-latest-posts:not(.is-grid) > li:last-child {
  margin-bottom: 0;
}
.wp-block-latest-posts.is-grid {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.wp-block-latest-posts.is-grid > li {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image {
  overflow: hidden;
}
.wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}
.wp-block-latest-posts.is-grid.columns-2 > li:nth-last-child(-n+2):nth-child(2n+1), .wp-block-latest-posts.is-grid.columns-2 > li:nth-last-child(-n+2):nth-child(2n+1) ~ li, .wp-block-latest-posts.is-grid.columns-3 > li:nth-last-child(-n+3):nth-child(3n+1), .wp-block-latest-posts.is-grid.columns-3 > li:nth-last-child(-n+3):nth-child(3n+1) ~ li, .wp-block-latest-posts.is-grid.columns-4 > li:nth-last-child(-n+4):nth-child(4n+1), .wp-block-latest-posts.is-grid.columns-4 > li:nth-last-child(-n+4):nth-child(4n+1) ~ li, .wp-block-latest-posts.is-grid.columns-5 > li:nth-last-child(-n+5):nth-child(5n+1), .wp-block-latest-posts.is-grid.columns-5 > li:nth-last-child(-n+5):nth-child(5n+1) ~ li, .wp-block-latest-posts.is-grid.columns-6 > li:nth-last-child(-n+6):nth-child(6n+1), .wp-block-latest-posts.is-grid.columns-6 > li:nth-last-child(-n+6):nth-child(6n+1) ~ li {
  margin-bottom: 0;
}
.wp-block-latest-posts > li > *:first-child {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.wp-block-latest-posts > li > *:first-child a {
  width: 100%;
  height: 100%;
}
.wp-block-latest-posts > li > *:last-child {
  position: absolute;
  bottom: 0px;
  right: 0px;
  line-height: 1.5;
  z-index: 2;
  width: 100%;
  height: 100%;
  min-height: 80px;
  text-decoration: none !important;
  font-size: 0.8em;
  padding: 20px 20px;
  display: flex;
  align-items: flex-end;
  color: white;
  text-transform: lowercase;
  font-weight: var(--font-weight-strong);
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 40%);
  transition: color ease-in-out 0.1s;
}
.wp-block-latest-posts > li > *:last-child:hover {
  color: var(--link--color-text-hover);
}
.entry-content [class*=inner-container] .wp-block-latest-posts.alignfull, .entry-content .has-background .wp-block-latest-posts.alignfull {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 1024px) {
  .wp-block-latest-posts.is-grid {
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 0px 20px;
  }
  .wp-block-latest-posts.is-grid > li > *:first-child {
    width: 100%;
    height: 100%;
  }
  .wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image img {
    width: 100%;
    height: 100%;
  }
}
.wp-block-quote.is-style-quotation-marks {
  border: none;
  padding: 0;
  margin: 0.5em 0;
}
.wp-block-quote.is-style-quotation-marks p {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em;
  font-style: normal;
}
.wp-block-quote.is-style-quotation-marks p::before {
  content: "“";
}
.wp-block-quote.is-style-quotation-marks p::after {
  content: "”";
}
.wp-block-quote.is-style-quotation-marks p::before, .wp-block-quote.is-style-quotation-marks p::after {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.wp-block-quote.is-style-quotation-marks cite {
  font-style: normal;
  font-size: 0.8em;
}
.wp-block-quote.is-style-quotation-marks cite::before {
  content: "- ";
}

@media screen and (min-width: 1024px) {
  .wp-block-quote.is-style-quotation-marks p {
    font-size: 1.4em;
    line-height: 1.6;
  }
}
.add-quote-marks {
  position: relative;
}
.add-quote-marks::before {
  top: -35px;
  content: "“";
}
.add-quote-marks::after {
  content: "”";
  bottom: 0px;
  top: calc(100% - 40px);
}
.add-quote-marks::before, .add-quote-marks::after {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  position: absolute;
  font-size: 10rem;
  line-height: 1;
  margin: 0;
  padding: 0;
  left: calc(50% - 1.5rem);
  color: var(--global--color-background-mid);
}

hr {
  border-style: none;
  border-bottom: 2px solid var(--main--color-text);
  clear: both;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  background-color: var(--main--color-text);
}
hr.wp-block-separator,
hr .wp-block-separator.is-style-wide {
  border-bottom: 2px solid var(--main--color-text);
  opacity: 1;
  height: 2px;
  background-color: var(--main--color-text);
}
.has-background hr.wp-block-separator, [class*=background-color] hr.wp-block-separator, [style*=background-color] hr.wp-block-separator, .wp-block-cover[style*=background-image] hr.wp-block-separator,
.has-background hr .wp-block-separator.is-style-wide,
[class*=background-color] hr .wp-block-separator.is-style-wide,
[style*=background-color] hr .wp-block-separator.is-style-wide,
.wp-block-cover[style*=background-image] hr .wp-block-separator.is-style-wide {
  border-color: currentColor;
}

.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* height of bar */
  background: white;
  /* Background color */
  z-index: 10000;
  /* increase z-index to bring in front of slider */
}

.progress-bar {
  height: 2px;
  background: var(--global--color-background-highlight);
  /* Progress bar color */
  width: 0%;
}

/* adjust position of progress when admin bar is present */
.admin-bar .progress-container {
  top: 33px;
}

.admin-bar #site-navigation,
.admin-bar #mobile-header {
  top: 31px;
}

#site-navigation,
#mobile-header {
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
  box-shadow: 0 1.8px 5.3px rgba(0, 0, 0, 0.016);
}

.inside-header {
  padding: 0px 20px;
  max-width: 1285px;
}

.site-logo img {
  max-width: 180px;
  height: auto;
}

.main-navigation.toggled .main-nav li {
  width: inherit;
  text-align: center;
}

.main-nav .menu .menu-item {
  margin: 0.5em 0.3em;
}
.main-nav .menu .menu-item a {
  color: var(--main--color-text);
  font-weight: var(--font-weight-strong);
  font-size: 0.8em;
  text-transform: lowercase;
  line-height: 1.5;
  padding: var(--button--padding-vertical) var(--button--padding-horizontal);
  border-radius: var(--button--border-radius);
}
.main-nav .menu .menu-item a:hover {
  background-color: var(--global--color-background-light);
  color: var(--global--color-dark-yellow);
}
.main-nav .menu .menu-item .sub-menu {
  border-radius: 10px;
  box-shadow: 0 2.1px 3.3px rgba(0, 0, 0, 0.036), 0 3.9px 10px rgba(0, 0, 0, 0.054), 0 31px 80px rgba(0, 0, 0, 0.09);
  padding: 0.5em;
  background-color: white;
}
.main-nav .menu .menu-item .sub-menu .menu-item {
  margin-left: 0px;
}
.main-nav .menu .menu-item .sub-menu .menu-item:last-child {
  margin-bottom: 0em;
}
.main-nav .menu .menu-item.current-menu-item {
  background-color: var(--global--color-background-mid);
  border-radius: var(--button--border-radius);
}

.menu-toggle {
  color: var(--main--color-text);
}
.menu-toggle svg {
  color: var(--main--color-text);
}
.menu-toggle:hover {
  color: var(--link--color-text-hover);
}

.menu-item-has-children .dropdown-menu-toggle {
  padding-right: 10px;
}

.menu-bar-items .menu-bar-item > a {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-bar-items .menu-bar-item.whatsapp-item a {
  display: inline-flex;
  align-self: center;
  transition: opacity ease-in-out 0.2s;
}
.menu-bar-items .menu-bar-item.whatsapp-item a:hover {
  opacity: 0.8;
}
.menu-bar-items .menu-bar-item.whatsapp-item a svg {
  top: 0.25em;
  position: relative;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .site-logo img {
    max-width: 240px;
  }

  .main-nav .menu .menu-item {
    margin-left: 0.2em;
  }
  .main-nav .menu .menu-item a {
    padding: 7px 14px;
  }

  .menu-bar-items {
    margin-left: 40px;
  }
}
.footer-form form.fluent_form_1 .wpf_has_custom_css.ff-btn-submit {
  background-color: var(--global--color-background-light);
}

.footer-form form.fluent_form_1 .wpf_has_custom_css.ff-btn-submit:hover {
  background-color: var(--global--color-background-mid);
}

.single-post .site.grid-container {
  max-width: none;
}
.single-post .site-content {
  padding: 0;
  overflow-x: hidden;
}
.single-post .inside-article {
  margin: 0 auto;
}
.single-post .inside-article .entry-header {
  padding: 40px 20px 40px 20px;
  background-color: var(--global--color-background-light);
  margin: 0 auto;
}
.single-post .inside-article .entry-header .entry-title {
  margin: 0 auto;
  max-width: 690px;
  margin-bottom: 20px;
}
.single-post .inside-article .entry-header .entry-category {
  max-width: 690px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.single-post .inside-article .entry-header .entry-category-link {
  background-color: var(--button--hightlight--color-background);
  color: var(--button--hightlight--color-text);
  padding: 0.3rem 0.8rem;
  font-weight: var(--font-weight-strong);
  text-transform: uppercase;
  font-size: 0.8em;
}
.single-post .inside-article .entry-header .entry-category-link:hover {
  background-color: var(--button--hightlight--color-background-hover);
  color: var(--button--hightlight--color-text-hover);
}
.single-post .inside-article .entry-header .post__excerpt {
  margin: 0 auto;
  max-width: 690px;
  padding-top: 10px;
}
.single-post .inside-article .entry-content {
  max-width: 690px;
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
}
.single-post .inside-article .entry-meta {
  max-width: 1285px;
  padding: 20px;
  margin: 0 auto;
}
.single-post .inside-article img,
.single-post .inside-article iframe {
  margin-bottom: 0px;
  max-width: 1285px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 730px) {
  .single-post .inside-article img,
.single-post .inside-article iframe {
    width: 690px;
    padding: 0px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .single-post .inside-article .entry-header {
    padding: 60px 20px 80px 20px;
    max-width: inherit;
  }
  .single-post .inside-article img,
.single-post .inside-article iframe {
    width: 100vw;
  }
}
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  60% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
.page-hero {
  background-color: var(--global--color-background-light);
  margin-bottom: 3rem;
}
.page-hero-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page-hero-content {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-hero-title {
  text-transform: lowercase;
}
.page-hero-excerpt {
  padding: 20px 0px;
  margin-bottom: 0px;
}
.page-hero-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-hero-content {
    padding: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .inside-page-hero {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1540px;
    margin: 0 auto;
  }

  .page-hero-content {
    padding-right: 2rem;
    width: 66%;
  }
  .page-hero-arrow {
    margin-top: 1rem;
    display: block;
    height: 4rem;
    color: var(--link--color-text);
  }
  .page-hero-arrow:hover {
    color: var(--link--color-text-hover);
  }
  .page-hero-down {
    width: auto;
    margin: 0 auto;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  }
  .page-hero-down:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
}
@media only screen and (min-width: 1280px) {
  .page-hero-content {
    padding-right: 4rem;
    width: 33%;
  }
}
@media screen and (min-width: 1540px) {
  .page-hero-content {
    padding: 20px;
    padding-right: 4rem;
    width: 33%;
  }
}
body.page-id-11 #page {
  background-color: var(--global--color-background-light);
}

.entry-content a:not(.button, .wp-block-button__link, .gb-button) {
  text-decoration: underline;
}

.underline {
  text-decoration: underline !important;
}

.entry-content > [class*=wp-block-]:not(:last-child) {
  margin-bottom: 0;
}

.paging-navigation {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}
.paging-navigation .nav-links {
  width: 100%;
  text-align: center;
}
.paging-navigation .nav-links .page-numbers {
  color: var(--button--color-text);
  cursor: pointer;
  background-color: var(--button--color-background);
  -webkit-border-radius: var(--button--border-radius);
  -moz-border-radius: var(--button--border-radius);
  border-radius: var(--button--border-radius);
  text-align: center;
  padding: var(--button--padding-vertical);
  font-weight: var(--font-weight-strong);
  font-size: 0.9em;
  text-transform: lowercase;
  text-decoration: none;
}
.paging-navigation .nav-links .page-numbers:hover {
  background-color: var(--button--color-background-hover);
  color: var(--button--color-text-hover);
}

.archive > .grid-container,
.blog > .grid-container,
.search > .grid-container {
  max-width: none;
}
.archive .page-header,
.blog .page-header,
.search .page-header {
  text-align: center;
  padding: 1em;
}

.blog .site-content,
.archive .site-content,
.search .site-content {
  padding: 0;
}

.archive .post,
.archive .page,
.blog .post,
.blog .page,
.search .post,
.search .page {
  max-width: none;
  background-color: var(--global--color-background-light);
}
.archive .post .inside-article,
.archive .page .inside-article,
.blog .post .inside-article,
.blog .page .inside-article,
.search .post .inside-article,
.search .page .inside-article {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "image" "title" "content";
}
.archive .post .post-image,
.archive .page .post-image,
.blog .post .post-image,
.blog .page .post-image,
.search .post .post-image,
.search .page .post-image {
  width: 100%;
  height: 100vw;
  grid-area: image;
  overflow: hidden;
}
.archive .post .post-image img,
.archive .page .post-image img,
.blog .post .post-image img,
.blog .page .post-image img,
.search .post .post-image img,
.search .page .post-image img {
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.archive .post .post-image img:hover,
.archive .page .post-image img:hover,
.blog .post .post-image img:hover,
.blog .page .post-image img:hover,
.search .post .post-image img:hover,
.search .page .post-image img:hover {
  transform: scale(1.02);
}
.archive .post .entry-title,
.archive .page .entry-title,
.blog .post .entry-title,
.blog .page .entry-title,
.search .post .entry-title,
.search .page .entry-title {
  font-size: 1.5em;
  line-height: 1.3333333;
}
.archive .post .entry-title a:hover,
.archive .page .entry-title a:hover,
.blog .post .entry-title a:hover,
.blog .page .entry-title a:hover,
.search .post .entry-title a:hover,
.search .page .entry-title a:hover {
  color: var(--link--color-text-hover);
}
.archive .post .entry-header,
.archive .page .entry-header,
.blog .post .entry-header,
.blog .page .entry-header,
.search .post .entry-header,
.search .page .entry-header {
  padding: 0 20px;
  grid-area: title;
}
.archive .post .entry-content,
.archive .post .entry-summary,
.archive .page .entry-content,
.archive .page .entry-summary,
.blog .post .entry-content,
.blog .post .entry-summary,
.blog .page .entry-content,
.blog .page .entry-summary,
.search .post .entry-content,
.search .post .entry-summary,
.search .page .entry-content,
.search .page .entry-summary {
  padding: 20px 20px 40px 20px;
  margin-top: 0;
  grid-area: content;
}
.archive .post .entry-meta,
.archive .page .entry-meta,
.blog .post .entry-meta,
.blog .page .entry-meta,
.search .post .entry-meta,
.search .page .entry-meta {
  margin-top: 0;
  justify-self: end;
  margin-top: 2rem;
  z-index: 2;
  grid-area: image;
}
.archive .post .entry-meta .gp-icon,
.archive .page .entry-meta .gp-icon,
.blog .post .entry-meta .gp-icon,
.blog .page .entry-meta .gp-icon,
.search .post .entry-meta .gp-icon,
.search .page .entry-meta .gp-icon {
  display: none;
}
.archive .post .entry-meta a,
.archive .page .entry-meta a,
.blog .post .entry-meta a,
.blog .page .entry-meta a,
.search .post .entry-meta a,
.search .page .entry-meta a {
  background-color: var(--button--hightlight--color-background);
  color: var(--button--hightlight--color-text);
  padding: 0.3rem 0.8rem;
  z-index: 2;
  font-weight: var(--font-weight-strong);
  text-transform: uppercase;
  font-size: 0.8em;
}
.archive .post .entry-meta a:hover,
.archive .page .entry-meta a:hover,
.blog .post .entry-meta a:hover,
.blog .page .entry-meta a:hover,
.search .post .entry-meta a:hover,
.search .page .entry-meta a:hover {
  background-color: var(--button--hightlight--color-background-hover);
  color: var(--button--hightlight--color-text-hover);
}
.archive .post .read-more,
.archive .page .read-more,
.blog .post .read-more,
.blog .page .read-more,
.search .post .read-more,
.search .page .read-more {
  width: 100%;
}
.archive .post .read-more::after,
.archive .page .read-more::after,
.blog .post .read-more::after,
.blog .page .read-more::after,
.search .post .read-more::after,
.search .page .read-more::after {
  content: "→";
  position: absolute;
  padding-left: 2px;
  opacity: 0;
  transition: padding-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.archive .post .read-more:hover::after,
.archive .page .read-more:hover::after,
.blog .post .read-more:hover::after,
.blog .page .read-more:hover::after,
.search .post .read-more:hover::after,
.search .page .read-more:hover::after {
  content: "→";
  opacity: 1;
  padding-left: 7px;
}

.no-results,
.error404 .site {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--global--color-background-mid);
}

.error404 .site {
  background-color: inherit;
}

@media only screen and (min-width: 1024px) {
  .archive .post .inside-article,
.archive .page .inside-article,
.blog .post .inside-article,
.blog .page .inside-article,
.search .post .inside-article,
.search .page .inside-article {
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-template-areas: "title image" "content image";
  }
  .archive .post .inside-article .entry-header,
.archive .page .inside-article .entry-header,
.blog .post .inside-article .entry-header,
.blog .page .inside-article .entry-header,
.search .post .inside-article .entry-header,
.search .page .inside-article .entry-header {
    grid-area: title;
    align-self: end;
    margin-right: 20px;
  }
  .archive .post .inside-article .entry-content,
.archive .post .inside-article .entry-summary,
.archive .page .inside-article .entry-content,
.archive .page .inside-article .entry-summary,
.blog .post .inside-article .entry-content,
.blog .post .inside-article .entry-summary,
.blog .page .inside-article .entry-content,
.blog .page .inside-article .entry-summary,
.search .post .inside-article .entry-content,
.search .post .inside-article .entry-summary,
.search .page .inside-article .entry-content,
.search .page .inside-article .entry-summary {
    grid-area: content;
    margin-right: 20px;
  }
  .archive .post .inside-article .post-image,
.archive .page .inside-article .post-image,
.blog .post .inside-article .post-image,
.blog .page .inside-article .post-image,
.search .post .inside-article .post-image,
.search .page .inside-article .post-image {
    grid-area: image;
    width: 640px;
    height: 640px;
    max-width: 100%;
    margin-bottom: 0px;
  }
  .archive .post .inside-article .entry-meta,
.archive .page .inside-article .entry-meta,
.blog .post .inside-article .entry-meta,
.blog .page .inside-article .entry-meta,
.search .post .inside-article .entry-meta,
.search .page .inside-article .entry-meta {
    grid-area: image;
  }
}
@media only screen and (min-width: 1280px) {
  .archive .post .inside-article .entry-header,
.blog .post .inside-article .entry-header,
.search .post .inside-article .entry-header {
    margin-right: 50px;
  }
  .archive .post .inside-article .entry-content,
.archive .post .inside-article .entry-summary,
.blog .post .inside-article .entry-content,
.blog .post .inside-article .entry-summary,
.search .post .inside-article .entry-content,
.search .post .inside-article .entry-summary {
    margin-right: 50px;
  }
}
.metaslider.ms-theme-radix .flexslider ol.flex-control-nav:not(.flex-control-thumbs) li a,
.metaslider.ms-theme-radix ul.rslides_tabs li a,
.metaslider.ms-theme-radix div.slider-wrapper .nivo-controlNav:not(.nivo-thumbs-enabled) a,
.metaslider.ms-theme-radix .coin-slider .cs-buttons a {
  font-size: 2em !important;
}

.metaslider.ms-theme-radix > li.flex-slide-count {
  font-size: 1em !important;
}

.metaslider.ms-theme-radix .flexslider ul.flex-direction-nav li a.flex-next:after {
  content: "" !important;
}

.metaslider.ms-theme-radix .flexslider ul.flex-direction-nav li a.flex-next {
  width: 35px !important;
}

.metaslider.ms-theme-radix .flexslider ul.flex-direction-nav li a.flex-prev {
  left: 0 !important;
}

.metaslider.ms-theme-radix .flexslider ul.flex-direction-nav li a {
  margin-top: 0;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  overflow: hidden;
  position: absolute;
  margin: -20px 0 0;
  text-indent: -9999px;
}

.entry-content .alignwide {
  max-width: 1245px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.entry-content .alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

.shadow-sm {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.shadow-md {
  box-shadow: 0 1.5px 3.6px rgba(0, 0, 0, 0.036), 0 4.1px 10px rgba(0, 0, 0, 0.046), 0 9.9px 24.1px rgba(0, 0, 0, 0.055), 0 33px 80px rgba(0, 0, 0, 0.08);
}

.shadow-lg {
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.028), 0 2.4px 5.3px rgba(0, 0, 0, 0.04), 0 4.5px 10px rgba(0, 0, 0, 0.05), 0 8px 17.9px rgba(0, 0, 0, 0.06), 0 15px 33.4px rgba(0, 0, 0, 0.072), 0 36px 80px rgba(0, 0, 0, 0.1);
}

.gb-grid-wrapper > .gb-grid-column > .gb-container.no-stretch {
  height: inherit;
}

/*# sourceMappingURL=main.css.map */
