.archive,
.blog,
.search {
	& > .grid-container {
		max-width: none;
	}

	& .page-header {
		text-align: center;
		padding: 1em;
	}
}

.blog .site-content,
.archive .site-content,
.search .site-content {
	padding: 0;
}

.archive .post,
.archive .page,
.blog .post,
.blog .page,
.search .post,
.search .page {
	max-width: none;
	background-color: var(--global--color-background-light);

	& .inside-article {
		max-width: 1280px;

		margin: 0 auto;

		display: grid;
		grid-template-areas:
			'image'
			'title'
			'content';
	}

	& .post-image {
		width: 100%;
		height: 100vw;
		grid-area: image;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			transition: transform 0.4s ease-in-out;

			&:hover {
				transform: scale(1.02);
			}
		}
	}

	& .entry-title {
		font-size: 1.5em;
		line-height: 1.3333333;

		& a:hover {
			color: var(--link--color-text-hover);
		}
	}

	& .entry-header {
		padding: 0 $padding;
		grid-area: title;
	}
	& .entry-content,
	.entry-summary {
		padding: $padding $padding $padding * 2 $padding;
		margin-top: 0;
		grid-area: content;
	}

	& .entry-meta {
		margin-top: 0;
		justify-self: end;
		margin-top: 2rem;
		z-index: 2;

		grid-area: image;

		& .gp-icon {
			display: none;
		}
		a {
			background-color: var(--button--hightlight--color-background);
			color: var(--button--hightlight--color-text);
			padding: 0.3rem 0.8rem;
			z-index: 2;
			font-weight: var(--font-weight-strong);
			text-transform: uppercase;
			font-size: 0.8em;

			&:hover {
				background-color: var(--button--hightlight--color-background-hover);
				color: var(--button--hightlight--color-text-hover);
			}
		}
	}

	& .read-more {
		width: 100%;
		&::after {
			content: '→';
			position: absolute;

			padding-left: 2px;
			opacity: 0;
			transition: padding-left 0.2s ease-in-out, opacity 0.2s ease-in-out;
		}

		&:hover {
			&::after {
				content: '→';
				opacity: 1;
				padding-left: 7px;
			}
		}
	}
}

// No Results

.no-results,
.error404 .site {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--global--color-background-mid);
}

.error404 .site {
	background-color: inherit;
}

// Tablet+
@media only screen and (min-width: 1024px) {
	.archive .post,
	.archive .page,
	.blog .post,
	.blog .page,
	.search .post,
	.search .page {
		& .inside-article {
			grid-template-columns: 1fr 1fr;
			align-items: start;
			grid-template-areas:
				'title image'
				'content image';

			& .entry-header {
				grid-area: title;
				align-self: end;
				margin-right: 20px;
			}
			& .entry-content,
			.entry-summary {
				grid-area: content;
				margin-right: 20px;
			}
			& .post-image {
				grid-area: image;
				width: 640px;
				height: 640px;
				max-width: 100%;
				margin-bottom: 0px;
			}

			& .entry-meta {
				grid-area: image;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.archive .post,
	.blog .post,
	.search .post {
		& .inside-article {
			& .entry-header {
				margin-right: 50px;
			}
			& .entry-content,
			.entry-summary {
				margin-right: 50px;
			}
		}
	}
}
