// Sticky Class bij blog

.archive,
.blog,
.search {
	& > .grid-container {
	}

	& .page-header {
		text-align: center;
		padding: 1em;
	}
}

.blog .site-content,
.archive .site-content,
.search .site-content {
	padding: 0;
}

.archive .post,
.archive .page,
.blog .post,
.blog .page,
.search .post,
.search .page {
	& .inside-article {
		position: relative;
		display: flex;
	}

	& .post-image {
		width: 100%;
		overflow: hidden;

		& img {
			width: 100%;
			height: 100%;
			transition: transform 0.4s ease-in-out;

			&:hover {
				transform: scale(1.02);
			}
		}
	}

	& .entry-title {
		font-size: 1.5em;
		line-height: 1.3333333;

		& a:hover {
			color: var(--link-text-color-hover);
		}
	}

	& .entry-header {
		padding: $padding;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

// No Results

.no-results,
.error404 .site {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--color-gray-200);
}

.error404 .site {
	background-color: inherit;
}

// Tablet+
@media only screen and (min-width: 1024px) {
	.archive .post,
	.archive .page,
	.blog .post,
	.blog .page,
	.search .post,
	.search .page {
		& .inside-article {
			& .entry-header {
			}
			& .entry-content,
			.entry-summary {
			}
			& .post-image {
				max-width: 100%;
				margin-bottom: 0px;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.archive .post,
	.blog .post,
	.search .post {
		& .inside-article {
			& .entry-header {
			}
		}
	}
}
