// Sticky Class bij blog
// Misschien bij hover op inside article de color veranderen? En dan bij titel inherit?

.archive,
.blog,
.search {
	> .grid-container {
	}

	.page-header {
		text-align: center;
		padding: 1em;
	}
}

.blog .site-content,
.archive .site-content,
.search .site-content {
	padding: 0;
}

.archive .post,
.archive .page,
.blog .post,
.blog .page,
.search .post,
.search .page {
	.inside-article {
		position: relative;
		display: flex;
		transition: color 0.1s ease-in-out;

		h2 {
			color: white;
		}

		&:hover .post-image img {
			transform: scale(1.01);
		}
	}

	.post-image {
		width: 100%;
		overflow: hidden;
		margin-bottom: 0px;

		img {
			width: 100%;
			height: 100%;

			transition: transform 0.2s ease-in-out;

			:hover {
			}
		}
	}

	.entry-title {
		font-size: 0.9em;
		line-height: 1.4;
		font-weight: bold;

		a {
			color: inherit;
			display: block;
			padding: $padding * 1.5;
			padding-top: $padding * 3;
		}

		// a:hover {
		// 	color: var(--link-text-color-hover);
		// }
	}

	.entry-header {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgb(0, 0, 0);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
	}
}

// No Results

.no-results,
.error404 .site {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: var(--color-gray-200);
}

.error404 .site {
	background-color: inherit;
}

.taxonomy-description {
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
}

// Tablet+
@media only screen and (min-width: 1024px) {
	.archive .post,
	.archive .page,
	.blog .post,
	.blog .page,
	.search .post,
	.search .page {
		.inside-article {
			.entry-header {
			}
			.entry-content,
			.entry-summary {
			}
			.post-image {
				max-width: 100%;
				margin-bottom: 0px;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.archive .post,
	.blog .post,
	.search .post {
		.inside-article {
			.entry-header {
			}
		}
	}
}
