// Werkt niet, want er zit soms meer dan alleen een IMG in een P...

.single-post {
	.site.grid-container {
		max-width: none;
	}
	.site-content {
		padding: 0;
		overflow-x: hidden;
	}

	.inside-article {
		margin: 0 auto;
		display: grid;

		.entry-content {
			max-width: 800px;
			margin: 0 auto;
			padding: 0px 20px 60px 20px;
		}
	}

	p > img {
		margin-bottom: 5px;
	}
}

.comments-area {
	display: none;
}

@media screen and (min-width: 820px) {
	.single-post {
		.inside-article {
			// & .entry-header {
			// 	max-width: 800px;
			// }
			& img,
			iframe {
				max-width: 1245px;
				width: 800px;
				padding: 0px 20px;
				margin-left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.single-post {
		.inside-article {
		}
	}
}

@media screen and (min-width: 1024px) {
	.single-post {
		.inside-article {
			& img,
			iframe {
				width: 100vw;
			}
		}
	}
}
