.paging-navigation {
	padding: 20px 10px;
	display: flex;
	justify-content: center;

	& .nav-links {
		width: 100%;
		text-align: center;
		& .page-numbers {
			color: var(--button--color-text);
			cursor: pointer;
			background-color: var(--button--color-background);
			-webkit-border-radius: var(--button--border-radius);
			-moz-border-radius: var(--button--border-radius);
			border-radius: var(--button--border-radius);
			text-align: center;
			padding: var(--button--padding-vertical);
			font-weight: var(--font-weight-strong);
			font-size: 0.9em;
			text-transform: lowercase;
			text-decoration: none;
			&:hover {
				background-color: var(--button--color-background-hover);
				color: var(--button--color-text-hover);
			}
		}
	}
}
