// /* Page single
// ---------------------------------------------------------------------------------------------------- */

.page-hero {
	background-color: var(--color-gray-100);
	margin-bottom: $block-margin;

	&-thumbnail {
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&-content {
		padding: $padding * 2 $padding;
		display: flex;
		flex-direction: column;
		justify-content: center;

		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		margin-top: -50px;
		z-index: 2;
		position: relative;
		background-color: var(--color-gray-100);
	}

	&-title {
		font-size: 1.8em;
		&.post-hero-title {
			font-size: $h1-font-size;
		}
	}

	&-excerpt {
		padding: $padding 0px;
		margin-bottom: 0px;
	}

	&-category {
		text-transform: uppercase;
		font-size: 0.7em;
		margin-bottom: 20px;
	}

	&-nav {
		font-weight: var(--font-weight-semibold);
		font-size: 0.8em;

		a {
			position: relative;
			white-space: nowrap;
		}
		a:not(:last-child) {
			margin-right: 20px;

			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				margin-top: -5px;
				right: -16px;
				bottom: 33%;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-gray-300);
				cursor: default;
			}
		}
	}
}

// Tablet+

@media screen and (min-width: 768px) {
	.page-hero {
		&-content {
			padding: $padding * 2;
		}
	}
}
@media only screen and (min-width: 1024px) {
	.inside-page-hero {
		display: flex;
		flex-direction: row-reverse;
		margin: 0 auto;
	}

	.page-hero {
		&-content {
			padding-right: 2rem;
			width: 50%;
			max-width: $xxl / 2;
			margin-top: 0px;
			border-radius: 0px;
		}

		&-thumbnail {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.page-hero {
		&-content {
			padding-right: 4rem;
			width: 50%;
		}

		&-title {
			font-size: 3em;

			&.post-hero-title {
				font-size: $h1-font-size-desktop;
			}
		}
	}
}

@media screen and (min-width: 1540px) {
	.page-hero {
		&-content {
			padding: $padding;
			padding-right: 4rem;
			width: 50%;
		}
	}
}
