// /* Page single
// ---------------------------------------------------------------------------------------------------- */
@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-6px);
		-ms-transform: translateY(-6px);
		transform: translateY(-6px);
	}
	60% {
		-webkit-transform: translateY(-3px);
		-ms-transform: translateY(-3px);
		transform: translateY(-3px);
	}
}

.page-hero {
	background-color: var(--global--color-background-light);
	margin-bottom: $block-margin;

	&-thumbnail img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&-content {
		padding: $padding * 2 $padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-title {
		text-transform: lowercase;
	}

	&-excerpt {
		padding: $padding 0px;
		margin-bottom: 0px;
	}

	&-arrow {
		display: none;
	}
}

// Tablet+

@media screen and (min-width: 768px) {
	.page-hero {
		&-content {
			padding: $padding * 2;
		}
	}
}
@media only screen and (min-width: 1024px) {
	.inside-page-hero {
		display: flex;
		flex-direction: row-reverse;
		max-width: $xxl;
		margin: 0 auto;
	}

	.page-hero {
		&-content {
			padding-right: 2rem;
			width: 66%;
		}

		&-arrow {
			margin-top: 1rem;
			display: block;
			height: 4rem;
			color: var(--link--color-text);

			&:hover {
				color: var(--link--color-text-hover);

				// -moz-transform: translate(0px, 5px);
				// -webkit-transform: translate(0px, 5px);
				// -o-transform: translate(0px, 5px);
				// -ms-transform: translate(0px, 5px);
				// transform: translate(0px, 5px);
				// -webkit-transition: transform 0.1s ease-in-out;
				// -moz-transition: transform 0.1s ease-in-out;
				// -ms-transition: transform 0.1s ease-in-out;
				// -o-transition: transform 0.1s ease-in-out;
				// transition: transform 0.1s ease-in-out;
			}
		}

		&-down {
			width: auto;
			margin: 0 auto;
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;

			&:hover {
				animation-name: bounce;
				-moz-animation-name: bounce;
			}
		}
	}
}

@media only screen and (min-width: 1280px) {
	.page-hero {
		&-content {
			padding-right: 4rem;
			width: 33%;
		}
	}
}

@media screen and (min-width: 1540px) {
	.page-hero {
		&-content {
			padding: $padding;
			padding-right: 4rem;
			width: 33%;
		}
	}
}
