// /* Page single
// ---------------------------------------------------------------------------------------------------- */

.page-hero {
	background-color: var(--color-gray-100);
	margin-bottom: $block-margin;

	&-thumbnail {
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&-content {
		padding: $padding * 2 $padding;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-title {
		font-size: 2em;
	}

	&-excerpt {
		padding: $padding 0px;
		margin-bottom: 0px;
	}

	&-arrow {
		display: none;
	}
}

// Tablet+

@media screen and (min-width: 768px) {
	.page-hero {
		&-content {
			padding: $padding * 2;
		}
	}
}
@media only screen and (min-width: 1024px) {
	.inside-page-hero {
		display: flex;
		flex-direction: row-reverse;
		// max-width: $xxl;
		margin: 0 auto;
	}

	.page-hero {
		&-content {
			padding-right: 2rem;
			width: 50%;
			max-width: 770px;
		}

		&-thumbnail {
			width: 50%;
		}
	}
}

@media only screen and (min-width: 1280px) {
	.page-hero {
		&-content {
			padding-right: 4rem;
			width: 50%;
		}

		&-title {
			font-size: 3.5em;
		}
	}
}

@media screen and (min-width: 1540px) {
	.page-hero {
		&-content {
			padding: $padding;
			padding-right: 4rem;
			width: 50%;
		}
	}
}
