// /* Site Header
// ---------------------------------------------------------------------------------------------------- */

.progress-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px; /* height of bar */
	background: white; /* Background color */
	z-index: 10000; /* increase z-index to bring in front of slider */
}

.progress-bar {
	height: 2px;
	background: var(--color-primary); /* Progress bar color */
	width: 0%;
}

/* adjust position of progress when admin bar is present */
.admin-bar .progress-container {
	top: 33px;
}

.admin-bar #site-navigation,
.admin-bar #mobile-header {
	top: 31px;
}
#site-navigation,
#mobile-header {
	position: -webkit-sticky;
	position: sticky;
	top: 2px; // for progress bar
	box-shadow: 0 1.8px 5.3px rgba(0, 0, 0, 0.025);
}

.inside-header {
	padding: 0px 20px;
	max-width: $xl;
}

.site-logo {
	& img {
		max-width: 180px;
		height: auto;
	}
}

.main-navigation.toggled .main-nav li {
	width: 100%;
	text-align: left;
}

.main-navigation.toggled .main-nav {
	.menu {
		height: 100vh;
	}

	background-color: var(--color-primary-light);

	> ul {
		align-items: flex-start;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		align-content: flex-start;
		padding-top: 20px;
	}
}

.main-nav {
	& .menu {
		& .menu-item {
			margin: 0.1em 0.2em;

			& a {
				color: var(--link-text-color);
				font-weight: var(--font-weight-bold);
				font-size: 1.7em;
				line-height: 1.5;
				padding: 7px 20px;

				&:hover {
					color: var(--link-text-color-hover);
				}
			}

			& .sub-menu {
				padding: 0.5em;
				font-size: 0.7em;
				background-color: white;
				& .menu-item {
					margin-left: 0px;
					&:last-child {
						margin-bottom: 0em;
					}
				}
			}

			&.current-menu-item {
				> a {
					color: var(--link-text-color);
				}
			}
		}
	}
}

.menu-toggle {
	color: var(--text-color);

	& svg {
		color: var(--text-color);
	}

	&:hover {
		color: var(--link-text-color-hover);
	}

	&:visited {
		color: var(--text-color);
	}
}

.main-navigation.has-branding .menu-toggle,
.main-navigation.has-sticky-branding.navigation-stick .menu-toggle {
	order: -1 !important;
	padding-right: 0px !important;
}

// Fix GP dropdown arrow right padding
.menu-item-has-children .dropdown-menu-toggle {
	padding-right: 10px;
}

.menu-bar-items {
	& .menu-bar-item {
		> a {
			padding-left: 10px;
			padding-right: 10px;
		}

		&.whatsapp-item {
			& a {
				display: inline-flex;
				align-self: center;
				transition: opacity ease-in-out 0.2s;
				color: var(--color-secondary);

				&:hover {
					opacity: 0.8;
				}

				& svg {
					top: 4px;
					position: relative;
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.main-nav {
		& .menu {
			height: initial;
			background-color: initial;
			font-size: initial;
			color: initial;

			.menu-item {
				margin: 0.5em 0.2em;

				& a {
					color: var(--text-color);
					font-weight: var(--font-weight-semibold);
					font-size: 1em;
					text-transform: lowercase;
					line-height: 1.5;
					padding: var(--button--padding-vertical) var(--button--padding-horizontal);

					&:hover {
						color: var(--link-text-color);
					}
				}

				& .sub-menu {
					font-size: 1em;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.site-logo {
		& img {
			max-width: 240px;
		}
	}

	.main-nav {
		& .menu {
			& .menu-item {
				margin-left: 0.2em;

				& a {
					padding: 7px 14px;
				}
			}
		}
	}
	.menu-bar-items {
		margin-left: 40px;
	}
}
