hr {
	border-style: none;
	border-bottom: 2px solid var(--main--color-text);
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	background-color: var(--main--color-text);

	&.wp-block-separator,
	.wp-block-separator.is-style-wide {
		border-bottom: 2px solid var(--main--color-text);
		opacity: 1;
		height: 2px;
		background-color: var(--main--color-text);

		.has-background &,
		[class*='background-color'] &,
		[style*='background-color'] &,
		.wp-block-cover[style*='background-image'] & {
			border-color: currentColor;
		}
	}
}
