/**
 * Button
 */
.site .button,
input[type='submit'],
input[type='reset'],
.wp-block-search__button,
.wp-block-button .wp-block-button__link {
	// Extend button style
	@include button-style();
}

.site .button,
input[type='submit'],
input[type='reset'],
.wp-block-search .wp-block-search__button,
.wp-block-file .wp-block-file__button {
	&:active {
		color: var(--button-text-color-hover);
		background-color: var(--button-background-color-hover);
	}

	&:hover {
		color: var(--button-text-color-hover);
		background-color: var(--button-background-color-hover);
	}
}

/**
	 * Block Options
	 */
.wp-block-button {
	// Target the default and filled button states.
	&:not(.is-style-outline) {
		.wp-block-button__link {
			&:active {
				color: var(--button-text-color-hover);
				background-color: var(--button-background-color-hover);
				border-color: var(--button-background-color-hover);
			}

			&:hover {
				color: var(--button-text-color-hover);
				background-color: var(--button-background-color-hover);
				border-color: var(--button-background-color);
			}

			&:focus {
				color: var(--button-text-color-hover);
				background-color: var(--button-background-color-hover);
			}
		}
	}

	// Outline Style.
	&.is-style-outline {
		.wp-block-button__link {
			// padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:not(.has-background) {
				background: transparent;
			}

			&:not(.has-background):not(.has-text-color) {
				background: transparent;
				color: var(--button-background-color);
				border-color: var(--button-background-color);
			}

			&.has-background:not(.has-text-color) {
				color: currentColor;
			}

			&.has-background.has-gray-background-color:not(.has-text-color),
			&.has-background.has-dark-gray-background-color:not(.has-text-color),
			&.has-background.has-black-background-color:not(.has-text-color) {
				color: white;
			}

			.is-dark-theme & {
				&:not(.has-text-color) {
					&.has-background {
						color: var(--color-gray-800);
					}

					&.has-background.has-gray-background-color,
					&.has-background.has-dark-gray-background-color,
					&.has-background.has-black-background-color {
						color: white;
					}
				}
			}

			&.has-text-color,
			&.has-background.has-text-color {
				border-color: currentColor;
			}

			&:active,
			&:hover {
				color: var(--button-text-color) !important;
				background: var(--button-background-color) !important;
				border-color: var(--button-background-color);

				&.has-text-color {
					border-color: var(--button-background-color);
				}
			}

			&:focus {
				color: var(--button-background-color) !important;
				background: transparent !important;
			}
		}
	}

	// Primary Color Button
	&.is-style-button-primary .wp-block-button__link:not(.has-background) {
		color: var(--button-primary-text-color);
		background-color: var(--button-primary-background-color);

		&:active {
			color: var(--button-primary-text-color-hover);
			background-color: var(--button-primary-background-color-hover);
		}

		&:hover {
			color: var(--button-primary-text-color-hover);
			background-color: var(--button-primary-background-color-hover);
		}
	}

	// Secondary Color Button
	&.is-style-button-secondary .wp-block-button__link:not(.has-background) {
		color: var(--button-secondary-text-color);
		background-color: var(--button-secondary-background-color);

		&:active {
			color: var(--button-secondary-text-color-hover);
			background-color: var(--button-secondary-background-color-hover);
		}

		&:hover {
			color: var(--button-secondary-text-color-hover);
			background-color: var(--button-secondary-background-color-hover);
		}
	}

	// light button style
	&.is-style-button-light .wp-block-button__link:not(.has-background) {
		background-color: var(--color-gray-100);

		&:active {
			background-color: var(--color-gray-200);
		}

		&:hover {
			background-color: var(--color-gray-200);
		}
	}

	// Underline Button Primary
	&.is-style-button-underline-primary .wp-block-button__link:not(.has-background) {
		background-color: transparent;
		border-bottom: 1px solid var(--button-primary-background-color);
		border-radius: 0px;
		padding: 0px;

		&::after {
			display: inline-block;
			transform: rotate(270deg);
			position: relative;
			left: 0px;
			top: 0.1em;
			content: url('../icons/chevron-down-link.svg');
			margin-right: -0.3em;
			margin-left: 0.2em;
			transition: all 0.1s ease-in-out;
		}

		&:active {
			background-color: transparent;
		}

		&:hover {
			background-color: transparent;
			border-bottom: 1px solid var(--button-primary-background-color-hover);
			&::after {
				left: 2px;
			}
		}
	}

	// Simple button Secondary
	&.is-style-button-underline-secondary .wp-block-button__link:not(.has-background) {
		background-color: transparent;
		border-bottom: 1px solid var(--button-secondary-background-color);
		border-radius: 0px;
		padding: 0px;
		&::after {
			display: inline-block;
			transform: rotate(270deg);
			position: relative;
			left: 0px;
			top: 0.1em;
			content: url('../icons/chevron-down-link.svg');
			margin-right: -0.3em;
			margin-left: 0.2em;
			transition: all 0.1s ease-in-out;
		}

		&:active {
			background-color: transparent;
		}

		&:hover {
			background-color: transparent;
			border-bottom: 1px solid var(--button-secondary-background-color-hover);
			&::after {
				left: 2px;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*='radius']:focus,
.wp-block-button a.wp-block-button__link[style*='radius']:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button-background-color);
}

.wp-block-buttons.is-full .wp-block-button {
	width: 100%;
	& .wp-block-button__link {
		width: 100%;
	}
}

// space between buttons
.wp-block-buttons > .wp-block-button {
	margin-right: 1em;
	margin-bottom: 1em;
}
